In [2]:
import quandl
import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split

In [10]:
#https://medium.com/@randerson112358/predict-stock-prices-using-python-machine-learning-53aa024da20a
# Get the stock data

quandl.ApiConfig.api_key = 'qKYyca8_q3vn5ws7FpwZ'

df = quandl.get("WIKI/GOOGL", trim_start = "2017-03-15", trim_end ="2018-03-15")

# Take a look at the data
#df.head()

#df = quandl.get_table('WIKI/PRICES', ticker = ['AAPL'], 
#                        qopts = { 'columns': ['date', 'adj_close'] }, 
#                       date = { 'gte': '2012-03-15', 'lte': '2018-03-15' }, 
#                        paginate=True)
df.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2017-03-15,867.94,869.88,861.295,868.39,1332885.0,0.0,1.0,867.94,869.88,861.295,868.39,1332885.0
2017-03-16,870.53,872.71,867.520,870.00,1104452.0,0.0,1.0,870.53,872.71,867.520,870.00,1104452.0
2017-03-17,873.68,874.42,868.370,872.37,1868252.0,0.0,1.0,873.68,874.42,868.370,872.37,1868252.0
2017-03-20,869.48,870.34,864.665,867.91,1542199.0,0.0,1.0,869.48,870.34,864.665,867.91,1542199.0
2017-03-21,870.06,873.47,847.687,850.14,2537978.0,0.0,1.0,870.06,873.47,847.687,850.14,2537978.0

In [11]:
#df.set_index('date', inplace=True)
#df.head()

In [12]:
# Get the Adjusted Close Price 
df = df[['Adj. Close']] 
# Take a look at the new data 
df.head()

            Adj. Close
Date
2017-03-15      868.39
2017-03-16      870.00
2017-03-17      872.37
2017-03-20      867.91
2017-03-21      850.14

In [14]:
# A variable for predicting 'n' days out into the future
forecast_out = 10
#'n=30' days
#Create another column (the target ) shifted 'n' units up
df['prediction'] = df[['Adj. Close']].shift(-forecast_out)
#print the 12)
df.tail(15)

            Adj. Close  prediction
Date
2018-02-23     1128.09     1160.84
2018-02-26     1143.70     1165.93
2018-02-27     1117.51     1139.91
2018-02-28     1103.92     1148.89
2018-03-01     1071.41     1150.61
2018-03-02     1084.14         NaN
2018-03-05     1094.76         NaN
2018-03-06     1100.90         NaN
2018-03-07     1115.04         NaN
2018-03-08     1129.38         NaN
2018-03-09     1160.84         NaN
2018-03-12     1165.93         NaN
2018-03-13     1139.91         NaN
2018-03-14     1148.89         NaN
2018-03-15     1150.61         NaN

In [126]:
#df1 = df.reset_index()

In [127]:
#df1.head()

In [128]:
#X = df1[['Date','Adj. Close']].values

#print(X)

In [129]:

### Create the independent data set (X)  #######
# Convert the dataframe to a numpy array
X = np.array(df.drop(['prediction'],1))

#Remove the last 'n' rows
X = X[:-forecast_out]
print(X)

[[ 868.39  ]
 [ 870.    ]
 [ 872.37  ]
 [ 867.91  ]
 [ 850.14  ]
 [ 849.8   ]
 [ 839.65  ]
 [ 835.14  ]
 [ 838.51  ]
 [ 840.63  ]
 [ 849.87  ]
 [ 849.48  ]
 [ 847.8   ]
 [ 856.75  ]
 [ 852.57  ]
 [ 848.91  ]
 [ 845.095 ]
 [ 842.1   ]
 [ 841.7   ]
 [ 839.88  ]
 [ 841.46  ]
 [ 840.18  ]
 [ 855.13  ]
 [ 853.99  ]
 [ 856.51  ]
 [ 860.08  ]
 [ 858.95  ]
 [ 878.93  ]
 [ 888.84  ]
 [ 889.14  ]
 [ 891.44  ]
 [ 924.52  ]
 [ 932.82  ]
 [ 937.09  ]
 [ 948.45  ]
 [ 954.72  ]
 [ 950.28  ]
 [ 958.69  ]
 [ 956.71  ]
 [ 954.84  ]
 [ 955.89  ]
 [ 955.14  ]
 [ 959.22  ]
 [ 964.61  ]
 [ 942.17  ]
 [ 950.5   ]
 [ 954.65  ]
 [ 964.07  ]
 [ 970.55  ]
 [ 977.61  ]
 [ 991.86  ]
 [ 993.27  ]
 [ 996.17  ]
 [ 987.09  ]
 [ 988.29  ]
 [ 996.12  ]
 [1003.88  ]
 [ 996.68  ]
 [1001.59  ]
 [1004.28  ]
 [ 970.12  ]
 [ 961.81  ]
 [ 970.5   ]
 [ 967.93  ]
 [ 960.18  ]
 [ 958.62  ]
 [ 975.22  ]
 [ 968.99  ]
 [ 978.59  ]
 [ 976.62  ]
 [ 986.09  ]
 [ 972.09  ]
 [ 948.09  ]
 [ 961.01  ]
 [ 937.82  ]
 [ 929.68  ]
 [ 919.46  ]
 [ 932.26  ]
 [ 927.69  ]
 [ 940.81  ]
 [ 951.    ]
 [ 953.53  ]
 [ 967.66  ]
 [ 968.7175]
 [ 976.91  ]
 [ 975.96  ]
 [ 986.95  ]
 [ 992.77  ]
 [ 992.19  ]
 [ 993.84  ]
 [ 998.31  ]
 [ 969.03  ]
 [ 965.31  ]
 [ 952.51  ]
 [ 958.33  ]
 [ 945.5   ]
 [ 946.56  ]
 [ 947.64  ]
 [ 940.3   ]
 [ 945.79  ]
 [ 945.75  ]
 [ 944.19  ]
 [ 940.08  ]
 [ 923.59  ]
 [ 930.09  ]
 [ 938.93  ]
 [ 938.08  ]
 [ 944.27  ]
 [ 927.66  ]
 [ 926.18  ]
 [ 920.87  ]
 [ 940.4   ]
 [ 942.58  ]
 [ 936.89  ]
 [ 930.5   ]
 [ 928.13  ]
 [ 935.75  ]
 [ 943.63  ]
 [ 955.24  ]
 [ 951.99  ]
 [ 941.48  ]
 [ 942.02  ]
 [ 949.89  ]
 [ 941.41  ]
 [ 943.29  ]
 [ 946.65  ]
 [ 950.44  ]
 [ 940.13  ]
 [ 935.29  ]
 [ 929.75  ]
 [ 936.86  ]
 [ 947.54  ]
 [ 947.55  ]
 [ 943.26  ]
 [ 934.28  ]
 [ 937.43  ]
 [ 959.9   ]
 [ 964.81  ]
 [ 973.72  ]
 [ 967.47  ]
 [ 972.08  ]
 [ 966.78  ]
 [ 985.19  ]
 [ 993.64  ]
 [ 992.31  ]
 [ 987.8   ]
 [1005.65  ]
 [1005.65  ]
 [1007.87  ]
 [1009.35  ]
 [1011.    ]
 [1012.74  ]
 [1001.84  ]
 [1005.07  ]
 [ 985.54  ]
 [ 988.49  ]
 [ 991.46  ]
 [ 991.42  ]
 [1033.67  ]
 [1033.13  ]
 [1033.04  ]
 [1042.6   ]
 [1042.97  ]
 [1049.99  ]
 [1042.68  ]
 [1052.39  ]
 [1047.72  ]
 [1044.15  ]
 [1041.2   ]
 [1041.64  ]
 [1036.41  ]
 [1048.47  ]
 [1035.89  ]
 [1034.66  ]
 [1050.3   ]
 [1051.92  ]
 [1056.52  ]
 [1072.01  ]
 [1063.29  ]
 [1037.38  ]
 [1036.17  ]
 [1025.07  ]
 [1011.87  ]
 [1019.6   ]
 [1032.72  ]
 [1044.57  ]
 [1049.38  ]
 [1051.97  ]
 [1048.77  ]
 [1051.39  ]
 [1057.47  ]
 [1072.    ]
 [1085.09  ]
 [1079.78  ]
 [1073.56  ]
 [1070.85  ]
 [1068.86  ]
 [1065.85  ]
 [1060.2   ]
 [1055.95  ]
 [1053.4   ]
 [1073.21  ]
 [1091.52  ]
 [1095.76  ]
 [1110.29  ]
 [1114.21  ]
 [1112.79  ]
 [1110.14  ]
 [1111.88  ]
 [1130.65  ]
 [1130.7   ]
 [1139.1   ]
 [1135.97  ]
 [1143.5   ]
 [1164.16  ]
 [1176.17  ]
 [1171.29  ]
 [1182.14  ]
 [1187.56  ]
 [1186.48  ]
 [1177.37  ]
 [1182.22  ]
 [1181.59  ]
 [1119.2   ]
 [1068.76  ]
 [1084.43  ]
 [1055.41  ]
 [1005.6   ]
 [1043.43  ]
 [1054.56  ]
 [1054.14  ]
 [1072.7   ]
 [1091.36  ]
 [1095.5   ]
 [1103.59  ]
 [1113.75  ]
 [1109.9   ]
 [1128.09  ]
 [1143.7   ]
 [1117.51  ]
 [1103.92  ]
 [1071.41  ]
 [1084.14  ]
 [1094.76  ]
 [1100.9   ]
 [1115.04  ]
 [1129.38  ]
 [1160.84  ]
 [1165.93  ]
 [1139.91  ]]

In [130]:
### Create the dependent data set (y)  #####
# Convert the dataframe to a numpy array 
y = np.array(df['prediction'])
# Get all of the y values except the last 'n' rows
y = y[:-forecast_out]
print(y)

[ 872.37    867.91    850.14    849.8     839.65    835.14    838.51
  840.63    849.87    849.48    847.8     856.75    852.57    848.91
  845.095   842.1     841.7     839.88    841.46    840.18    855.13
  853.99    856.51    860.08    858.95    878.93    888.84    889.14
  891.44    924.52    932.82    937.09    948.45    954.72    950.28
  958.69    956.71    954.84    955.89    955.14    959.22    964.61
  942.17    950.5     954.65    964.07    970.55    977.61    991.86
  993.27    996.17    987.09    988.29    996.12   1003.88    996.68
 1001.59   1004.28    970.12    961.81    970.5     967.93    960.18
  958.62    975.22    968.99    978.59    976.62    986.09    972.09
  948.09    961.01    937.82    929.68    919.46    932.26    927.69
  940.81    951.      953.53    967.66    968.7175  976.91    975.96
  986.95    992.77    992.19    993.84    998.31    969.03    965.31
  952.51    958.33    945.5     946.56    947.64    940.3     945.79
  945.75    944.19    940.08    923.59    930.09    938.93    938.08
  944.27    927.66    926.18    920.87    940.4     942.58    936.89
  930.5     928.13    935.75    943.63    955.24    951.99    941.48
  942.02    949.89    941.41    943.29    946.65    950.44    940.13
  935.29    929.75    936.86    947.54    947.55    943.26    934.28
  937.43    959.9     964.81    973.72    967.47    972.08    966.78
  985.19    993.64    992.31    987.8    1005.65   1005.65   1007.87
 1009.35   1011.     1012.74   1001.84   1005.07    985.54    988.49
  991.46    991.42   1033.67   1033.13   1033.04   1042.6    1042.97
 1049.99   1042.68   1052.39   1047.72   1044.15   1041.2    1041.64
 1036.41   1048.47   1035.89   1034.66   1050.3    1051.92   1056.52
 1072.01   1063.29   1037.38   1036.17   1025.07   1011.87   1019.6
 1032.72   1044.57   1049.38   1051.97   1048.77   1051.39   1057.47
 1072.     1085.09   1079.78   1073.56   1070.85   1068.86   1065.85
 1060.2    1055.95   1053.4    1073.21   1091.52   1095.76   1110.29
 1114.21   1112.79   1110.14   1111.88   1130.65   1130.7    1139.1
 1135.97   1143.5    1164.16   1176.17   1171.29   1182.14   1187.56
 1186.48   1177.37   1182.22   1181.59   1119.2    1068.76   1084.43
 1055.41   1005.6    1043.43   1054.56   1054.14   1072.7    1091.36
 1095.5    1103.59   1113.75   1109.9    1128.09   1143.7    1117.51
 1103.92   1071.41   1084.14   1094.76   1100.9    1115.04   1129.38
 1160.84   1165.93   1139.91   1148.89   1150.61  ]

In [131]:
# Split the data into 80% training and 20% testing
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [132]:
# Create and train the Support Vector Machine (Regressor) 
svr_rbf = SVR(kernel='rbf', C=1e3, gamma=0.1) 
svr_rbf.fit(x_train, y_train)

SVR(C=1000.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma=0.1,
  kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [133]:
# Testing Model: Score returns the coefficient of determination R^2 of the prediction. 
# The best possible score is 1.0
svm_confidence = svr_rbf.score(x_test, y_test)
print("svm confidence: ", svm_confidence)

svm confidence:  0.8751575675229127

In [134]:
# Create and train the Linear Regression  Model
lr = LinearRegression()
# Train the model
lr.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [135]:
# Testing Model: Score returns the coefficient of determination R^2 of the prediction. 
# The best possible score is 1.0
lr_confidence = lr.score(x_test, y_test)
print("lr confidence: ", lr_confidence)

lr confidence:  0.9377298960272669

In [136]:
# Set x_forecast equal to the last 'n' rows of the original data set from adj_close column
x_forecast = np.array(df.drop(['prediction'],1))[-forecast_out:]
print(x_forecast)

[[1148.89]
 [1150.61]]

In [137]:
# Print linear regression model predictions for the next 'n' days
lr_prediction = lr.predict(x_forecast)
print(lr_prediction)

[1149.00100992 1150.69759591]

In [138]:
lr_prediction

array([1149.00100992, 1150.69759591])

In [139]:
# Print support vector regressor model predictions for the next 'n' days
svm_prediction = svr_rbf.predict(x_forecast)
print(svm_prediction)

[1015.83308689 1011.59647132]

In [140]:
lr_prediction_df = pd.DataFrame({'Predicted_Price1':lr_prediction[:]})

In [141]:
lr_prediction_df

   Predicted_Price1
0       1149.001010
1       1150.697596

# For Loops Option

In [8]:
quandl.ApiConfig.api_key = 'qKYyca8_q3vn5ws7FpwZ'
quandl_stock_list = []
temp_date_list = []
temp_close_price_list = []
temp_stock_list = []
lr_prediction_list = []
svm_prediction_list = []
stock_list = ["GOOGL","AAPL"]
for x in stock_list:
    temp_stock = "WIKI/" + x
    quandl_stock_list.append(temp_stock)
    df = quandl.get(temp_stock, trim_start = "2017-03-15", trim_end ="2018-03-15")
    df = df[['Adj. Close']] 
    i = 0
    
    for index, row in df.iterrows():  
        temp_close_price = str(round(row['Adj. Close'],2))
        temp_date = str(df.index[i])
        temp_stock = x
        i = i + 1
        # print(temp_date + " " + temp_close_price)
           
        temp_date_list.append(temp_date)   
        temp_close_price_list.append(temp_close_price)
        temp_stock_list.append(temp_stock)
        
        stock_close_df = pd.DataFrame({"Stock Name": temp_stock_list})
        stock_close_df["Date"] = temp_date_list
        stock_close_df["Close Price"] = temp_close_price_list
        
        # Start predict
        forecast_out = 10
        df['Prediction'] = df[['Adj. Close']].shift(-forecast_out)
        
        # Define X data set
        X = np.array(df.drop(['Prediction'],1))
        X = X[:-forecast_out]
        
        # Define Y data set
        y = np.array(df['Prediction'])
        y = y[:-forecast_out]
        
        # Split the data into 80% training and 20% testing
        x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
        
        # Create and train the Support Vector Machine (Regressor) 
        svr_rbf = SVR(kernel='rbf', C=1e3, gamma=0.2) 
        svr_rbf.fit(x_train, y_train)
        
        # Testing Model: Score returns the coefficient of determination R^2 of the prediction. 
        # The best possible score is 1.0
        svm_confidence = svr_rbf.score(x_test, y_test)
        #print("svm confidence: ", svm_confidence)
        
        # Create and train the Linear Regression  Model
        lr = LinearRegression()
        # Train the model
        lr.fit(x_train, y_train)
        
        lr_confidence = lr.score(x_test, y_test)
        x_forecast = np.array(df.drop(['Prediction'],1))[-forecast_out:]
        
        # Prediction
        lr_prediction = lr.predict(x_forecast)
        svm_prediction = svr_rbf.predict(x_forecast)
        
        lr_prediction_list.append(lr_prediction)
        svm_prediction_list.append(svm_prediction)
        
        stock_close_df["LR_Prediction"] = lr_prediction_list
        stock_close_df["SVM_Prediction"] = svm_prediction_list
        



stock_close_df

,Stock Name,Date,Close Price,LR_Prediction,SVM_Prediction
0,GOOGL,2017-03-15 00:00:00,868.39,"[1083.6159577973447, 1092.7360385816623, 1098....","[1118.3800330490758, 1125.9798427661008, 1038...."
1,GOOGL,2017-03-16 00:00:00,870.0,"[1079.3809155860213, 1088.18631400468, 1093.27...","[1118.4301430389546, 1032.3721879012053, 972.7..."
2,GOOGL,2017-03-17 00:00:00,872.37,"[1089.5796295893838, 1099.4419159676158, 1105....","[1118.159851394245, 1144.0358964321758, 967.01..."
3,GOOGL,2017-03-20 00:00:00,867.91,"[1088.6084240898185, 1098.102831602639, 1103.5...","[1117.377955337648, 1041.498946738137, 963.853..."
4,GOOGL,2017-03-21 00:00:00,850.14,"[1080.9954386641002, 1089.8921061881929, 1095....","[1118.3309621087026, 1106.4013028147997, 969.4..."
5,GOOGL,2017-03-22 00:00:00,849.8,"[1077.4428123537946, 1086.2081569793927, 1091....","[1112.7769723047913, 1041.8466168102025, 971.2..."
6,GOOGL,2017-03-23 00:00:00,839.65,"[1084.397812544585, 1093.6160828752586, 1098.9...","[1117.4996853024504, 1041.5841432825284, 965.6..."
7,GOOGL,2017-03-24 00:00:00,835.14,"[1082.1393705231585, 1091.3392034190852, 1096....","[1080.9741873541416, 1041.866020906351, 971.66..."
8,GOOGL,2017-03-27 00:00:00,838.51,"[1080.2738264859527, 1089.1466043934793, 1094....","[1118.2641442890322, 1032.2905214104733, 969.9..."
9,GOOGL,2017-03-28 00:00:00,840.63,"[1078.5793827754312, 1087.46101568512, 1092.59...","[1079.4809900534408, 1041.8638445043694, 971.6..."
10,GOOGL,2017-03-29 00:00:00,849.87,"[1089.8172626915489, 1099.4303557368407, 1104....","[1118.2082677608041, 1026.5281001385079, 1037...."
11,GOOGL,2017-03-30 00:00:00,849.48,"[1076.2835935472522, 1084.962476073386, 1089.9...","[1118.4321346410347, 1041.945158345451, 973.27..."
12,GOOGL,2017-03-31 00:00:00,847.8,"[1083.1492226643481, 1092.3096649606914, 1097....","[1118.247877707398, 1091.0954673446793, 967.57..."
13,GOOGL,2017-04-03 00:00:00,856.75,"[1084.5202228768385, 1093.9362934779176, 1099....","[1118.1659593513089, 1144.048048430272, 967.08..."
14,GOOGL,2017-04-04 00:00:00,852.57,"[1082.8773529839232, 1091.9320345989822, 1097....","[1118.052442803791, 1043.5801122972607, 964.57..."
15,GOOGL,2017-04-05 00:00:00,848.91,"[1076.9726885260952, 1085.6884936210008, 1090....","[1118.292448107762, 1041.834811258364, 970.966..."
16,GOOGL,2017-04-06 00:00:00,845.1,"[1083.0598530341356, 1092.3732202856231, 1097....","[1117.9979924837592, 1041.6024585586579, 966.0..."
17,GOOGL,2017-04-07 00:00:00,842.1,"[1084.268973533792, 1093.79161922119, 1099.297...","[1118.2675242643154, 1106.350235129731, 968.34..."
18,GOOGL,2017-04-10 00:00:00,841.7,"[1081.2010598424317, 1090.2520288397732, 1095....","[1118.2106251970115, 1091.0667175524661, 966.9..."
19,GOOGL,2017-04-11 00:00:00,839.88,"[1080.2712169838546, 1089.2578682857707, 1094....","[1117.7696270292267, 1032.2673395061965, 1039...."
20,GOOGL,2017-04-12 00:00:00,841.46,"[1085.9237157694156, 1095.4552293210968, 1100....","[1118.3136212449867, 1106.386524354164, 969.16..."
21,GOOGL,2017-04-13 00:00:00,840.18,"[1088.109811097429, 1097.6222045253214, 1103.1...","[1118.335814599465, 1144.4239696172406, 969.92..."
22,GOOGL,2017-04-17 00:00:00,855.13,"[1084.5112177917722, 1093.784531216355, 1099.1...","[1013.5487544717904, 1032.1821595920576, 966.3..."
23,GOOGL,2017-04-18 00:00:00,853.99,"[1077.4523671454428, 1085.9815428479487, 1090....","[1118.2643970588274, 1106.348195705525, 968.35..."
24,GOOGL,2017-04-19 00:00:00,856.51,"[1081.4796030084572, 1090.6932355969384, 1096....","[1112.7496829950599, 1106.2452099545162, 1036...."
25,GOOGL,2017-04-20 00:00:00,860.08,"[1081.2013913336436, 1090.3075660449551, 1095....","[1118.0859672413444, 1041.6717071511707, 967.5..."
26,GOOGL,2017-04-21 00:00:00,858.95,"[1084.4853977069872, 1093.8866058797353, 1099....","[1118.2289522294336, 1041.7846548998748, 969.9..."
27,GOOGL,2017-04-24 00:00:00,878.93,"[1078.8851216717026, 1087.8575345979095, 1093....","[1118.0856456496213, 1041.6710180791338, 1037...."
28,GOOGL,2017-04-25 00:00:00,888.84,"[1082.4466760654338, 1091.560615341513, 1096.8...","[1117.7481626267356, 1106.292933670011, 1015.8..."
29,GOOGL,2017-04-26 00:00:00,889.14,"[1082.0448768249862, 1091.1002750524942, 1096....","[1081.0323662181668, 1106.4124608273369, 1040...."
...,...,...,...,...,...
473,AAPL,2018-02-01 00:00:00,167.78,"[174.86089477892259, 175.36407676056916, 175.2...","[172.39098874946094, 167.98235989663016, 168.6..."
474,AAPL,2018-02-02 00:00:00,160.37,"[175.2062881829229, 175.7277066981822, 175.599...","[169.31676302152067, 166.9097272307028, 166.98..."
475,AAPL,2018-02-05 00:00:00,157.49,"[174.65014232820982, 175.15966804818726, 175.0...","[167.26797511027297, 163.5708706888213, 163.78..."
476,AAPL,2018-02-06 00:00:00,163.03,"[175.3473545050617, 175.8697877801878, 175.741...","[166.855987528878, 162.8106887958012, 163.2009..."
477,AAPL,2018-02-07 00:00:00,159.54,"[175.19075585779473, 175.7145096014297, 175.58...","[171.49576279963975, 165.80348473722228, 166.7..."
478,AAPL,2018-02-08 00:00:00,155.32,"[175.11458519550436, 175.632150754632, 175.504...","[167.8603633144026, 164.70487288259238, 164.92..."
479,AAPL,2018-02-09 00:00:00,155.97,"[176.0052967247766, 176.54569535214134, 176.41...","[171.59974506888753, 165.91000732849832, 166.8..."
480,AAPL,2018-02-12 00:00:00,162.71,"[175.77275291494308, 176.29988607318523, 176.1...","[168.96421366337987, 166.94619170574404, 166.9..."
481,AAPL,2018-02-13 00:00:00,164.34,"[174.8235486143491, 175.33094752727013, 175.20...","[172.30043893280353, 165.29294052597223, 167.0..."
482,AAPL,2018-02-14 00:00:00,167.37,"[174.86362928845517, 175.3701847052996, 175.24...","[171.42270875326224, 167.7342651412778, 168.26..."
483,AAPL,2018-02-15 00:00:00,172.99,"[175.1332517725967, 175.64231775191791, 175.51...","[171.25547498738467, 164.08714089990337, 165.4..."
484,AAPL,2018-02-16 00:00:00,172.43,"[175.0439868445599, 175.56017505298067, 175.43...","[172.76036361407708, 171.50480328747201, 171.5..."
485,AAPL,2018-02-20 00:00:00,171.85,"[175.06497974868137, 175.58986401866636, 175.4...","[166.87515224267432, 162.99731108043989, 163.4..."
486,AAPL,2018-02-21 00:00:00,171.07,"[174.99548575889423, 175.51632959022558, 175.3...","[172.4560538709841, 168.03182052580394, 168.75..."
487,AAPL,2018-02-22 00:00:00,172.6,"[174.7399789300005, 175.24919682621208, 175.12...","[172.83463316234116, 168.36842969943712, 169.2..."
488,AAPL,2018-02-23 00:00:00,175.56,"[174.66590377244418, 175.16393358864792, 175.0...","[166.87931846848653, 162.99956072018102, 163.4..."
489,AAPL,2018-02-26 00:00:00,178.97,"[174.92291000534317, 175.43904476294836, 175.3...","[173.39382358941705, 169.5730266424383, 170.51..."
490,AAPL,2018-02-27 00:00:00,178.39,"[174.55548552399992, 175.06994677345205, 174.9...","[171.2476467963581, 167.43749612528146, 167.96..."
491,AAPL,2018-02-28 00:00:00,178.12,"[174.7558007830322, 175.2723125501713, 175.145...","[171.71051952275897, 166.56682521784998, 167.3..."
492,AAPL,2018-03-01 00:00:00,175.0,"[175.15581218544398, 175.67384954405068, 175.5...","[168.66627052488303, 166.8248155034019, 166.80..."
493,AAPL,2018-03-02 00:00:00,176.21,"[174.17732664292816, 174.68043152506522, 174.5...","[166.8508372657561, 162.8137923894664, 163.108..."
494,AAPL,2018-03-05 00:00:00,176.82,"[175.14951383803282, 175.6680293386305, 175.54...","[173.5544531448965, 168.88731896493218, 170.13..."
495,AAPL,2018-03-06 00:00:00,176.67,"[175.23201508817627, 175.75309235346728, 175.6...","[166.89602725805744, 164.12853424365338, 164.1..."
496,AAPL,2018-03-07 00:00:00,175.03,"[175.82505434512518, 176.36673303920458, 176.2...","[172.93202763254823, 168.70054301651814, 169.5..."
497,AAPL,2018-03-08 00:00:00,176.94,"[175.1666316770716, 175.68725397535118, 175.55...","[173.37002790449804, 169.51726421000205, 170.5..."
498,AAPL,2018-03-09 00:00:00,179.98,"[174.66817173400023, 175.17213014158636, 175.0...","[168.4270219412844, 166.8041058151922, 166.678..."
499,AAPL,2018-03-12 00:00:00,181.72,"[174.94971358706076, 175.4590168302625, 175.33...","[166.8379466330387, 162.3694049713744, 162.769..."
500,AAPL,2018-03-13 00:00:00,179.97,"[174.97066223437997, 175.4867640722645, 175.35...","[172.44902051055834, 168.11140888543798, 168.8..."
501,AAPL,2018-03-14 00:00:00,178.44,"[174.22666400525588, 174.72388848175322, 174.6...","[166.96606926884797, 166.28755258861258, 165.9..."
502,AAPL,2018-03-15 00:00:00,178.65,"[175.43109468851637, 175.95322265373133, 175.8...","[170.81896044459637, 167.6265686497249, 168.05..."

In [15]:
stock_close_df.to_csv('stock_close_df1.csv')

# Example of what the dataframe should look like

The below dataframe represents the following:

*Forecaset_out = 10 which means that we are estimating the price for the 10 days going back from the final date
*3/1/2018 is not part of the 10 days, but it is used as the starting point for the graph. That will be the same for all predictions. This we can add manually via Pandas as needed
*This dataframe shows that the Linear regression was ran 10 times. Ideally, we need a "number_of_runs" variable that we can change as we need to which will trigger the model to run that many times. 
*The average price (excludes the Real Price column) can be calculated via Pandas

In [19]:
example = pd.read_csv("EXAMPLE.csv")

In [20]:
example

,Date,GOOGL_Real_Price,GOOGL_LR_Prediction1,GOOGL_LR_Prediction2,GOOGL_LR_Prediction3,GOOGL_LR_Prediction4,GOOGL_LR_Prediction5,GOOGL_LR_Prediction6,GOOGL_LR_Prediction7,GOOGL_LR_Prediction8,GOOGL_LR_Prediction9,GOOGL_LR_Prediction10,Average_Predict_Price
0,3/1/2018,"1,071.41","1,071.41","1,071.41","1,071.41","1,071.41","1,071.41","1,071.41","1,071.41","1,071.41","1,071.41","1,071.41","1,071.41"
1,3/2/2018,"1,084.14","1,083.62","1,079.38","1,089.58","1,088.61","1,081.00","1,077.44","1,084.40","1,082.14","1,080.27","1,078.58","1,082.50"
2,3/5/2018,"1,094.76","1,092.74","1,088.19","1,099.44","1,098.10","1,089.89","1,086.21","1,093.62","1,091.34","1,089.15","1,087.46","1,091.61"
3,3/6/2018,"1,100.90","1,098.01","1,093.28","1,105.14","1,103.59","1,095.04","1,091.28","1,098.95","1,096.66","1,094.28","1,092.60","1,096.88"
4,3/7/2018,"1,115.04","1,110.15","1,105.00","1,118.27","1,116.23","1,106.88","1,102.95","1,111.22","1,108.91","1,106.09","1,104.42","1,109.01"
5,3/8/2018,"1,129.38","1,122.47","1,116.89","1,131.59","1,129.05","1,118.89","1,114.78","1,123.67","1,121.33","1,118.07","1,116.41","1,121.32"
6,3/9/2018,"1,160.84","1,149.48","1,142.98","1,160.81","1,157.18","1,145.25","1,140.75","1,150.97","1,148.58","1,144.36","1,142.72","1,148.31"
7,3/12/2018,"1,165.93","1,153.85","1,147.20","1,165.53","1,161.73","1,149.51","1,144.95","1,155.39","1,152.99","1,148.61","1,146.98","1,152.67"
8,3/13/2018,"1,139.91","1,131.51","1,125.62","1,141.37","1,138.47","1,127.72","1,123.47","1,132.81","1,130.45","1,126.87","1,125.22","1,130.35"
9,3/14/2018,"1,148.89","1,139.22","1,133.07","1,149.71","1,146.50","1,135.24","1,130.89","1,140.60","1,138.23","1,134.37","1,132.73","1,138.06"
10,3/15/2018,"1,150.61","1,140.70","1,134.49","1,151.31","1,148.03","1,136.68","1,132.30","1,142.09","1,139.72","1,135.81","1,134.17","1,139.53"